.hero {
  display: flex;
  align-items: center;
  height: 80vh;

  @media screen and (max-width: 767px) {
    height: 100%;
  }
  .col-md-7 {
    h6 {
      font-size: 1.4rem;
      font-weight: bold;
      color: #2222227a;
    }
    h2 {
      font-size: 2.5rem;
      margin: 13px 0 20px;
    }
    p {
      color: rgba(0, 0, 0, 0.4);
      font-weight: 500;
    }
    .packages-price {
      position: relative;
      &::before {
        content: "";
        width: 25px;
        height: 2px;
        background-color: #0000008f;
        position: absolute;
        top: 38%;
        left: 0;
      }
      .price {
        padding: 20px 0;
        margin-left: 40px;

        p {
          margin-right: 14px;
          font-weight: bold;
          color: #333;
        }
        del {
          color: rgba(0, 0, 0, 0.4);
          font-weight: bold;
        }
      }
    }
    .btns {
      display: flex;
      button {
        outline: none;
        box-shadow: none;
      }
      .add__hero__btn {
        margin-right: 5px;
        padding: 13px 18px;
        .icon {
          margin-right: 6px;
        }
        &:hover {
          background-color: #e99c2e !important;
        }
      }
      .more__btn {
        background-color: transparent;
        font-size: 1.1rem;
        color: #e99c2e;
        font-weight: bold;
        padding: 13px 18px;

        &:hover {
          color: #e99c2e;
        }
      }
    }
  }
  .col-md-5 {
    margin-top: 4rem;
  }
}
