/* Color */
$mainColor: #e99c2e;
$primaryColor: #5f5b57;

.new__arrivals {
  .products {
    .cart {
      margin-bottom: 15px;
      .img__continer {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &::after {
          content: "";
          width: 100%;
          height: 300px;
          background-color: #eaecef;
          position: absolute;
          top: 0;
          left: 0;
          transform: scale(0);
          transition: all 0.2s ease-in-out;
          z-index: -1;
        }
        img {
          transition: all 0.2s ease-in-out;
        }
      }
      .add__cart {
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.3s linear;
        button {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;
          border: none;
          background-color: #222;
          color: #fff;
          p {
            margin: 0 10px;
            font-size: 15px;
          }
        }
      }
      .cart__content {
        padding: 20px 0;
        background-color: #fff;
        h4 {
          font-size: 18px;
          color: $primaryColor;
        }
        p {
          font-weight: 500;
          color: #ff5682;
          font-size: 1.2rem;
        }
      }
      &:hover {
        .img__continer {
          img {
            transform: scale(1.1);
          }
          &::after {
            transform: scale(1);
          }
        }
        .add__cart {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}
