.navbar {
  height: 120px;
  background-color: #fff;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
  .mobile__icon {
    display: none;
    @media screen and (max-width: 767px) {
      display: block;
      cursor: pointer;
      .icon {
        font-size: 1.6rem;
      }
    }
  }

  .logo {
    position: relative;
    &::after {
      content: "";
      width: 6px;
      height: 6px;
      background-color: #e99c2e;
      position: absolute;
      right: -8px;
      bottom: 12px;
    }

    h3 {
      color: #616060;
    }
  }

  .collapse {
    ul {
      padding: 0;
      margin: 0;
    }
    @media screen and (max-width: 767px) {
      margin-top: 80px;
      height: 100vh;
      background-color: #fff;
      width: 100%;
      position: fixed;
      top: 0;
      left: -100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease-in-out;
    }
  }

  .active {
    left: 0;
    box-shadow: 0 0 10px #fff;
  }

  .nav-item {
    margin: 0 15px;

    @media screen and (max-width: 767px) {
      margin: 0;
    }
    .nav-link {
      color: #616060;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        color: #e99c2e;
      }

      @media screen and (max-width: 767px) {
        @media screen and (max-width: 767px) {
          &:hover {
            background-color: #e99c2e;
            color: #fff;
          }
        }
      }

      @media screen and (max-width: 767px) {
        padding: 25px;
      }
    }
  }

  .right-nav {
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 767px) {
        padding: 0;
      }
      li {
        padding: 10px;
        cursor: pointer;
        position: relative;

        .nav-icon {
          font-size: 1.1rem;
          color: #616060;

          &:hover {
            color: #e99c2e;
          }
        }

        .count {
          position: absolute;
          right: -1px;
          top: -2px;
          width: 20px;
          height: 20px;
          background-color: #e99c2e;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          font-size: 11px;
        }
      }
    }
  }
}
.active {
  position: sticky;
  top: 0;
  height: 80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
